body {
    display: flex;
    justify-content: center;
    background-color: #f4f4f5;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > h1 {
    text-align: center;
}
.books > * {
    margin: 5px;
    border: 1px solid black;
    text-align: center;
}

:invalid {
    border: 1px solid red;
    background-color: #fdd;
}
