@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
}

body {
    background-color: #0ea5e9;
    font-family: 'Roboto';
    color: white;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userInput{
    margin-top: 0.25rem;
    background-color: #e0f2fe;
    border-radius: 3px;
    border-color: #1d4ed8;
}

#forecast {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 3px 3px #4f46e5;
}

#forecast > div {
    border: 1px solid #4f46e5;
    padding: 2rem;
    margin: 0.5rem;
    height: 36rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px 3px #4f46e5;
    background-color: #e0f2fe;
    color: black;
}

#getData {
    width: 11.25rem;
    background-color: #0284c7;
    border-radius: 0.5rem;
    border-color: #0284c7;
    margin-top: 5px;
}

#content > div {
    margin: 0.35rem;
    border: 1px solid #4f46e5;
    width: 55vw;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px 3px #4f46e5;
    background-color: #e0f2fe;
    color: black;
}